body {
    background-color: #1e1e1e;
    font-family: 'Montserrat';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hidden {
    display: none;
}
.choosing-title {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 20px 12px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
}
#search-address-inp {
    border-radius: 0;
    background-color: #b7b7b7;
    border: none;
    font-size: 20px;
    color: #000;
}
#search-address-inp::-webkit-input-placeholder       {text-align: center; opacity: 1; transition: .3s ease;}
#search-address-inp::-moz-placeholder                {text-align: center; opacity: 1; transition: .3s ease;}
#search-address-inp:-moz-placeholder                 {text-align: center; opacity: 1; transition: .3s ease;}
#search-address-inp:-ms-input-placeholder            {opacity: 1;}
#search-address-inp:focus::-webkit-input-placeholder {opacity: 0;}
#search-address-inp:focus::-moz-placeholder          {opacity: 0;}
#search-address-inp:focus:-moz-placeholder           {opacity: 0;}
#search-address-inp:focus:-ms-input-placeholder      {opacity: 0;}

#search-address-notice {
    color: #f33;
    margin-top: .75rem;
}

#map {
    width: 0;
    height: 0;
}
.search-address-group input,
.search-address-group button, 
.search-address-group input:focus,
.search-address-group button:focus,
.search-address-group button:active {
    height: 3rem;
    box-shadow: none;
    border-radius: 0;
}
.search-address-group .btn {
    font-weight: bold;
    color: #b7b7b7;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid #b7b7b7;
}
.search-address-group .btn-check {
    width: 9rem;
}
.concept-type+label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    /* filter: grayscale(1) opacity(.6); */
    cursor: pointer;
    transition: .3s ease;
    background-color: #b7b7b7;
    height: 70px;

}
.concept-type + label img {
    max-height: 70px;
    max-width: 150px;
}

.concept-type:checked + label {
    border: 1px solid #ff0000;
    /* filter: grayscale(0) opacity(1); */
}
.concept-type:not(:checked) + label:hover {
    border: 1px solid #ff0000;
    /* filter: opacity(.8) grayscale(.25); */
}

.modal-delivery {
    border-radius: 0;
    color: #000;
}
.modal-delivery b {
    font-weight: bold;
}
.modal-delivery .modal-content {
    border: none;
    border-radius: 0;
}
.modal-delivery__header {
    background-color: #000;
    font-weight: bold;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
}
.modal-delivery__header .close {
    color: #fff;
}
.about-restaurant__website {
    margin-top: 10px;
    margin-bottom: 25px;
}
.about-restaurant__website:not([href*="tel:"]) {
    display: inline-block;
    padding: 3px 7.5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #000;
    color: #FFF;
}
.about-restaurant__website:hover {
    text-decoration: none;
}
.about-restaurant__name {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-restaurants p {
    font-size: 14px;
    margin-bottom: 7.5px;
}
.cannot-be-delivered {
    padding-top: 0;
}
.cannot-be-delivered .about-restaurant__address {
    margin-top: -1rem;
}
.about-restaurant__website[href*="tel:"] {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000 !important;
}
.delivery-input-container {
    color: #000;
}



@media (max-width: 500px) {
    #search-address-reset {
        display: none;
    }
    .search-address-group .btn-check {
        font-size: 0;
        width: auto;
    }
    .search-address-group .btn-check::before {
        content: '\1F50D';
        font-size: 1rem;
    }
}